{% extends 'base.html.twig' %}
{% block title %}Supprimer{% endblock %}

{% block body %}
<div id='main-title'>
    <h1>Supprimer votre recherche ? 
        {% if search.city is not empty %}
            '{{ search.city }}'
        {% else %}
            X= {{ search.latitude }},  Y= {{ search.longitude }}
        {% endif %}
    </h1> 
</div>

    <form class method="post">
<div id='horizontal-split'>
    <div>
        <button id='delete-button'>Oui</button>
    </div>
    <div>
        <a class='button' href="{{ path('searchs')}}" >Annulé</a>
    </div>
</div>
    </form>

{% endblock %}