body {
    background-color: lightblue;
}

#main-body {
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
}

#main-title {
    text-align: center;
}

h1 {
    font-family: "Basic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}